body {
    background-image: url('https://hmnh.harvard.edu/sites/hwpi.harvard.edu/files/styles/os_files_xxlarge/public/hmnh/files/sharks-poster-22-07-05.jpg?m=1666199614&itok=cXIwKTb8');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
